node_modules/
package-lock.json
.env
.prettierrc.json
.eslintrc.json
data
.DS_Store
db_seeding/reviewData.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml