@font-face {
  font-family: 'AmazonEmber';
  src: url('../fonts/AmazonEmber_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'AmazonEmberBold';
  src: url('../fonts/AmazonEmber_Bd.ttf') format('truetype');
}

$ember-font: AmazonEmber, sans-serif;

$ember-bold: AmazonEmberBold, sans-serif;

$amazon-yellow: #ff9900;
